{% extends "base.html" %}

{% block content %}

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Projects</h4>
                <div>
                    <a href="{% url 'project-list' %}" class="btn btn-outline-primary btn-sm mr-1">View All</a>
                    <a href="{% url 'project-create' %}" class="btn btn-primary btn-sm">Create New</a>
                </div>
              </div>
              <div class="card-body">
                {% if projects %}

                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Title
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Updated At
                                </th>
                                <th class="text-right">
                                    Status
                                </th>
                            </thead>

                            <tbody>
                                {% for project in projects %}

                                    <tr>
                                        <td>
                                            <a href="{% url 'project-detail' project.id %}">{{project.title}}</a>
                                        </td>
                                        <td>
                                            {{project.category}}
                                        </td>
                                        <td>
                                            {{project.updated_at}}
                                        </td>
                                        <td class="text-right">
                                            {{project.status}}
                                        </td>
                                    </tr>    

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                {% else %}

                    <div>
                        <p>
                            No Projects yet... <a href="{% url 'project-create' %}">Create now!</a>
                        </p>
                    </div>

                {% endif %}


              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Restaurants</h4>
                <div>
                    <a href="{% url 'restaurant-list' %}" class="btn btn-outline-primary btn-sm mr-1">View All</a>
                    <a href="{% url 'restaurant-create' %}" class="btn btn-primary btn-sm">Create New</a>
                </div>
              </div>
              <div class="card-body">
                {% if restaurants %}

                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Cuisine
                                </th>
                                <th>
                                    Capacity
                                </th>
                                <th class="text-right">
                                    Status
                                </th>
                            </thead>

                            <tbody>
                                {% for restaurant in restaurants %}

                                    <tr>
                                        <td>
                                            <a href="{% url 'restaurant-detail' restaurant.id %}">{{restaurant.name}}</a>
                                        </td>
                                        <td>
                                            {{restaurant.cuisine}}
                                        </td>
                                        <td>
                                            {{restaurant.capacity}}
                                        </td>
                                        <td class="text-right">
                                            {{restaurant.status}}
                                        </td>
                                    </tr>    

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                {% else %}

                    <div>
                        <p>
                            No Restaurants yet... <a href="{% url 'restaurant-create' %}">Create now!</a>
                        </p>
                    </div>

                {% endif %}


              </div>
            </div>
          </div>



        </div>

{% endblock %}